<title>404 NOT FOUND!</title> 
<style>
body{
background-color:black;
}
h1{
color:white;
font-family:楷体;
font-size:40px;
}
h2{
color:white;
font-family:楷体;
font-size:30px;
}
button{
color:grey;
font-family:楷体;
font-size:25px;
border-radius:25px;
}
</style>
<h1>亲，再检查下网址吧，这个地址是不存在的！</h1>
<h1>========================================</h1>
<h2>猜你喜欢：</h2>
<button><a href="\MyWork\StudentAchievementManagementSystem\">学生成绩在线管理系统<img src="\MyWork\StudentAchievementManagementSystem\StudentAchievementManagementSystem.ico" width=25px></img></a></button>