<title>403 FORBIDDEN</title>
<style>
    body {
        background-color: black;
    }

    h1 {
        color: white;
        font-family: 楷体;
        font-size: 40px;
    }

    h2 {
        color: white;
        font-family: 楷体;
        font-size: 30px;
    }

    button {
        color: grey;
        font-family: 楷体;
        font-size: 25px;
        border-radius: 25px;
    }
</style>
</style>
<h1>亲，这里是存放机密文件的地方，外人是不可以访问的哦！</h1>
<h1>====================================================</h1>
<h2>猜你喜欢：</h2>
<button><a href="\MyWork\StudentAchievementManagementSystem\">学生成绩在线管理系统<img src="\MyWork\StudentAchievementManagementSystem\StudentAchievementManagementSystem.ico" width=25px></img></a></button>